.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0px;
  background-color: aqua;
}
.sign {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.sign > p {
  margin-right: 40px;
}
